# Install system dependencies required for Puppeteer/Chromium on Amazon Linux 2
# Fixes: libatk-1.0.so.0 and other shared library errors when generating PDFs
packages:
  yum:
    atk: []
    at-spi2-atk: []
    at-spi2-core: []
    cups-libs: []
    libdrm: []
    libXcomposite: []
    libXdamage: []
    libXfixes: []
    libXrandr: []
    mesa-libgbm: []
    libxkbcommon: []
    nss: []
    nspr: []
    alsa-lib: []
    libXScrnSaver: []
    libXcursor: []
    libXinerama: []
    dbus-glib: []
    cairo: []
    cairo-gobject: []
    pango: []
    gtk3: []
    liberation-sans-fonts: []
